Repository mustordont/otus-highload: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint

.lintstagedrc.json:

{
    "./**/*.{json,css,scss,md}": ["prettier --write", "git add"],
    "./**/*.{js,jsx,ts,tsx}": ["prettier --write", "npm run lint", "git add"]
}

add basic auth
  config.yaml
  package-lock.json
  package.json
  src/app.module.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/index.ts
  src/auth/user-guard.service.ts
  src/core/b2b-guard.service.ts
  src/core/config/config.service.ts
  src/core/index.ts
  src/main.ts
  src/swagger.yml
  src/users/dto/login.dto.ts
  src/users/login.controller.ts
  src/users/user.entity.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.service.ts
Due: prettier --write, npm run lint

polish
  README.md
  config.yaml
  package-lock.json
  package.json
  src/app.module.ts
  src/auth/user-guard.service.ts
  src/core/config/config.service.ts
  src/main.ts
  src/swagger.yml
  src/users/dto/login.dto.ts
  src/users/login.controller.ts
  src/users/user.entity.ts
  src/users/users.controller.ts
  tools/Dockerfile
Due: prettier --write, npm run lint

add example config
  config.yaml
Due: none

polish
  README.md
Due: prettier --write

feat: run prettier
  .editorconfig
  .gitignore
  gen/index.ts
  gen/model/dialogMessage.ts
  gen/model/inlineObject.ts
  gen/model/inlineObject1.ts
  gen/model/inlineObject2.ts
  gen/model/inlineObject3.ts
  gen/model/inlineObject4.ts
  gen/model/inlineResponse200.ts
  gen/model/inlineResponse2001.ts
  gen/model/inlineResponse500.ts
  gen/model/post.ts
  gen/model/user.ts
  src/auth/user-guard.service.ts
  src/core/config/config.service.ts
  src/core/user-param.model.ts
  src/users/user.entity.ts
  src/users/users.controller.ts
Due: prettier --write, npm run lint

feat: add migrate command
  package.json
  src/app.module.ts
  src/cli.ts
  src/commands/command.module.ts
  src/commands/migrate.command.ts
  src/users/index.ts
Due: prettier --write, npm run lint

fix: migrate command
  package-lock.json
  package.json
  src/commands/migrate.command.ts
  src/users/user.entity.ts
  src/users/users.module.ts
Due: prettier --write, npm run lint

feat: add user.search with explain
  .eslintrc.json
  src/swagger.yml
  src/users/dto/index.ts
  src/users/dto/search.dto.ts
  src/users/explain.ts
  src/users/user.entity.ts
  src/users/users.controller.ts
  src/users/users.service.ts
Due: prettier --write, npm run lint

feat: add k6s basic script
  README.md
  src/auth/user-guard.service.ts
  tools/k6.js
Due: prettier --write, npm run lint

feat: load testing
  tools/k6.js
  tools/load_testing/k6.js
  tools/load_testing/with_indexes.pdf
  tools/load_testing/without_indexes.pdf
Due: prettier --write, npm run lint
